In [1]:
import pandas as pd

In [2]:
# load data from 'Covid by County.csv'
covid = pd.read_csv('../Data/Covid by County.csv')

# create a calculated field 'death_rate_confirmed' = 'confirmed_deaths'/'confirmed_cases'
covid['death_rate_confirmed'] = covid['confirmed_deaths']/covid['confirmed_cases']

# create a calculated field 'death_rate' = 'deaths'/'cases'
covid['death_rate'] = covid['deaths']/covid['cases']

covid.head()

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,State fips,death_rate_confirmed,death_rate
0,11/13/2020,Autauga,Alabama,1001.0,2417,36.0,2165.0,33.0,1,0.015242,0.014894
1,11/13/2020,Baldwin,Alabama,1003.0,7523,84.0,6309.0,80.0,1,0.012680,0.011166
2,11/13/2020,Barbour,Alabama,1005.0,1117,9.0,765.0,9.0,1,0.011765,0.008057
3,11/13/2020,Bibb,Alabama,1007.0,973,17.0,873.0,13.0,1,0.014891,0.017472
4,11/13/2020,Blount,Alabama,1009.0,2488,34.0,1904.0,33.0,1,0.017332,0.013666

In [3]:
# load data from 'Mask Use by County.csv'
maskUse = pd.read_csv('../Data/Mask Use by County.csv')
maskUse.head()

   COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS  State fips
0      1001  0.053   0.074      0.134       0.295   0.444         1.0
1      1003  0.083   0.059      0.098       0.323   0.436         1.0
2      1005  0.067   0.121      0.120       0.201   0.491         1.0
3      1007  0.020   0.034      0.096       0.278   0.572         1.0
4      1009  0.053   0.114      0.180       0.194   0.459         1.0

In [4]:
# load data from 'Population by County.csv'
population = pd.read_csv('../Data/Population by County.csv')
population.head()

    County     STATE  fips  Census  Estimates Base
0  Autauga   Alabama  1001   54571           54597
1  Baldwin   Alabama  1003  182265          182265
2  Barbour   Alabama  1005   27457           27455
3     Bibb   Alabama  1007   22915           22915
4   Blount   Alabama  1009   57322           57322

In [5]:
# merge covid with maskUse, population
merged = pd.merge(covid.drop('date', axis = 1), maskUse.rename(columns={'COUNTYFP': 'fips'}))
merged = pd.merge(merged, population.drop(['County', 'STATE'], axis = 1))

In [6]:
# create a calculated field 'cases/population' = 'cases'/Census'
merged['cases/population'] = merged['cases']/merged['Census']
merged.head()

,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,State fips,death_rate_confirmed,death_rate,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS,Census,Estimates Base,cases/population
0,Autauga,Alabama,1001.0,2417,36.0,2165.0,33.0,1,0.015242,0.014894,0.053,0.074,0.134,0.295,0.444,54571,54597,0.044291
1,Baldwin,Alabama,1003.0,7523,84.0,6309.0,80.0,1,0.012680,0.011166,0.083,0.059,0.098,0.323,0.436,182265,182265,0.041275
2,Barbour,Alabama,1005.0,1117,9.0,765.0,9.0,1,0.011765,0.008057,0.067,0.121,0.120,0.201,0.491,27457,27455,0.040682
3,Bibb,Alabama,1007.0,973,17.0,873.0,13.0,1,0.014891,0.017472,0.020,0.034,0.096,0.278,0.572,22915,22915,0.042461
4,Blount,Alabama,1009.0,2488,34.0,1904.0,33.0,1,0.017332,0.013666,0.053,0.114,0.180,0.194,0.459,57322,57322,0.043404

In [9]:
hospital = pd.read_csv('../Data/Hospital Utilization by State.csv')
hospital.drop(['OBJECTID', 'state_name'], axis = 1).rename(columns={'State_fips': 'fips'})

,total_inpatient_beds,total_icu_beds,pct_inpatient_bed_utilization,pct_inpatients_with_covid,pct_icu_bed_utilization,icu_beds_used_estimate,inpatient_beds_used_estimate,inpatient_beds_used_covid_est,fips
0,1178,228,62.54,10.53,74.24,98,885,149,2
1,60674,8744,72.55,8.06,74.55,5419,45684,5065,6
2,1745,299,66.26,3.35,62.33,134,1654,83,15
3,3604,513,54.14,11.49,67.92,199,1890,401,16
4,7311,1152,78.58,17.01,75.00,651,5853,1235,32
5,6344,924,73.55,7.48,66.37,515,4848,493,41
6,9380,1239,67.64,6.11,71.49,933,8450,763,53
7,10764,1921,74.26,12.77,63.18,1232,10044,1725,4
8,7743,1397,65.22,11.43,74.00,760,5447,955,5
9,9630,1693,68.13,14.82,73.48,953,6863,1493,8
10,8032,943,67.28,19.49,81.29,565,5321,1521,19
11,7159,980,62.39,14.78,81.51,648,4746,1124,20
12,13074,2450,65.97,6.58,71.30,1232,8780,849,22
13,11056,1469,74.55,18.59,83.42,810,7841,1955,27
14,17178,2716,65.32,15.38,78.84,1569,11316,2664,29
15,2702,245,69.14,17.17,71.62,159,1945,483,30
16,4723,891,68.34,21.68,79.15,463,3163,986,31
17,3143,534,74.40,19.51,94.66,372,2769,726,35
18,2057,316,78.21,20.92,88.57,124,1540,412,38
19,8896,1355,68.15,13.07,77.66,904,7093,1327,40
20,1998,287,66.61,24.16,82.27,167,1574,571,46
21,59940,9030,73.45,13.99,81.67,6208,44670,8489,48
22,4930,1020,57.57,10.62,71.97,452,3008,555,49
23,1510,134,47.80,15.27,47.90,57,653,207,56
24,14055,2137,75.60,9.81,85.94,1290,10702,1389,1
25,8079,1376,73.15,12.37,52.89,558,5987,1012,9
26,2155,307,72.61,7.72,81.03,141,1824,194,10
27,2789,583,83.49,8.07,75.88,280,2422,234,11
28,78308,6988,77.90,8.26,77.84,4743,39388,4087,12
29,16909,3110,78.25,11.06,81.89,2189,14846,2098,13
30,28209,4796,68.68,20.31,65.76,2499,20414,6036,17
31,16101,2647,67.49,18.25,78.29,1695,11154,3016,18
32,12097,1737,72.41,13.27,77.97,1193,8584,1573,21
33,2818,369,69.32,3.52,74.92,236,1950,99,23
34,10207,1599,81.18,14.59,77.82,1000,8219,1477,24
35,16252,2369,68.04,5.03,52.50,1007,11883,878,25
36,22831,3253,79.25,17.53,83.35,2238,17165,3796,26
37,7353,1000,65.50,10.93,78.60,672,5287,882,28
38,2920,349,68.05,4.02,60.64,171,1913,113,33
39,18175,2315,73.08,12.65,63.92,1433,13867,2401,34
40,45778,8098,74.47,6.65,59.93,4167,40226,3593,36
41,20116,2589,76.44,9.37,80.29,1963,16396,1995,37
42,27940,4724,69.82,13.74,75.77,2945,20634,4021,39
43,25757,4716,75.95,12.02,81.24,3105,24083,3773,42
44,1695,256,88.16,15.26,81.82,126,1779,308,44
45,9096,1453,80.44,8.03,77.15,969,7826,781,45
46,15927,2924,73.21,12.70,84.03,1784,12689,2119,47
47,610,136,52.88,2.07,46.77,29,358,14,50
48,15360,2222,68.35,7.84,66.95,1345,11593,1330,51
49,5674,782,75.57,9.13,81.94,508,3882,469,54
50,12094,2013,71.52,20.76,70.98,1147,8816,2482,55
51,149,27,68.46,19.46,59.26,16,102,29,66
52,41,8,0.00,0.00,37.50,3,0,0,69
53,8133,1049,56.25,6.00,67.90,442,4754,496,72

In [8]:
for i in ['fips', 'deaths']: merged[i] = merged[i].astype(int)
merged.to_csv('Aggregated by County.csv', index = False)